@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background-color: #333;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

p {
	margin-top: 3px;
	margin-bottom: 3px;
}

.box {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

hr {
    margin: 20px -6px 15px;
    border: 0;
    border-top: 1px solid #fff;
}

@keyframes hovering {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -25px);}
    to {transform: translate(0, -0px);}
}

.middle {
  width: 280px;
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.field {
  width: 100%;
}

#logo {
  width: 256px;
  height: 256px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  webkit-animation-name: hovering;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: hovering;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  animation-name: hovering;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#right {
  float: right;
}

#left {
  float: left;
  padding-left: 10px;
}

.fg {
  color: #fff;
}

.fg-small {
  font-size: 17pt !important;
}

#title {
  font-weight: 300;
  font-size: 48pt;
  margin-top: 5%;
  padding: 10px;
}

#sub {
  font-weight: 400;
  font-size: 16pt;
}

#hero {
  text-align: center;
}

#semiscreen {
  height: 500px;
  margin-left: 21.5%;
  margin-top: 30%;
  position: absolute;
}

#semi {
  position: relative;
}

#notice {
  visibility: hidden;
}

.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  background: transparent;
  color: #fff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border: solid #fff 2px;
  width: 60px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

input[type="text"], input[type="file"] {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  background: transparent;
  color: #fff;
  font-size: 13px;
  padding: 10px 20px 10px 15px;
  border: solid #fff 2px;
  width: 128px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn:hover {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #333;
  background-color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  border: solid #fff 2px;
  width: 60px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#stars {
  background-image: url(../img/stars.png);
  background-repeat: repeat;
  margin-top: 30%;
  height: 400px;
  width: 100%;
  position: absolute;
}

h1 {
  font-weight: 300;
}

.fa {
  text-decoration: none !important;
  margin-right: 50px;
  margin-left: 50px;
}

a {
 color: #1abc9c;
 text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #1abc9c;
}

#head {
	text-align: center;
}